<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Off turns off the Dock features. Takes effect after a respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>msbd_lineEnabled:</string>
			<key>id</key>
			<string>MSBD_LINE</string>
			<key>label</key>
			<string>MacDock</string>
			<key>lineName</key>
			<string>MacDock</string>
			<key>set</key>
			<string>msbd_setLine:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Magnification</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Magnify Icons</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.22</real>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>magnification</string>
			<key>max</key>
			<real>2.5</real>
			<key>min</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Size</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.85</real>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>dockIconSize</string>
			<key>max</key>
			<real>1.2</real>
			<key>min</key>
			<real>0.5</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>portraitLargerDock</string>
			<key>label</key>
			<string>Larger Dock in Portrait</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gap to Screen Edge</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>6.0</real>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>dockBottomGap</string>
			<key>max</key>
			<real>24.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>A suggested or Handoff app may also appear after your recent apps. Takes effect after a respring.</string>
			<key>label</key>
			<string>Recent Apps</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>dockRecentsCount</string>
			<key>label</key>
			<string>Number of Recent Apps</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockrunningindicator/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockrunningindicator</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Show Indicators for Open Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Library</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>launchpadIcon</string>
			<key>label</key>
			<string>Launchpad Icon</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>classic</string>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>launchpadStyle</string>
			<key>label</key>
			<string>Style</string>
			<key>validTitles</key>
			<array>
				<string>Classic (Rocket)</string>
				<string>Grid</string>
			</array>
			<key>validValues</key>
			<array>
				<string>classic</string>
				<string>grid</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>launchpadLeft</string>
			<key>label</key>
			<string>Next to Finder</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>escapeClosesLibrary</string>
			<key>label</key>
			<string>Escape Closes App Library</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>FINDER_GROUP</string>
			<key>label</key>
			<string>Finder</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>id</key>
			<string>FINDER</string>
			<key>key</key>
			<string>showFinder</string>
			<key>label</key>
			<string>Show Finder in Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Downloads</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.besiktasliseba.dockmagnification/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>id</key>
			<string>DOWNLOADS</string>
			<key>key</key>
			<string>showDownloads</string>
			<key>label</key>
			<string>Show Downloads in Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Downloads From</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>key</key>
			<string>downloadsSafari</string>
			<key>label</key>
			<string>Safari</string>
			<key>msbGuardTitle</key>
			<string>Downloads From Safari</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>defaults</key>
			<string>com.besiktasliseba.dockmagnification</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>id</key>
			<string>DOWNLOADS_FROM</string>
			<key>key</key>
			<string>downloadApps</string>
			<key>label</key>
			<string>Other Apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Dock</string>
</dict>
</plist>
